.language__img {
    width: 25px;
    height: 25px;
  }
  
  .language__title {
    display: inline-block;
    margin-left: 15px;
  }
  
  .MuiButton-root {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    border-radius: 50% !important;
  }
  
  .MuiMenuItem-root {
    font-weight: 300 !important;
  }
  
  @media (max-width: 500px) {
  
    .header__lang-button {
      position: absolute !important;
      right: 0;
      bottom: -40px;
    }
  }