.item {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow);
  position: relative;
  width: 100%;
  padding: 17px;
  box-sizing: border-box;
  transform: scaleY(1);
  transition: transform 0.3s;
}

.item_hidden {
  transform: scaleY(0);
}

.item__info_hidden {
  display: none;
}

.item__title {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: var(--seagreen);
}

.item__gh-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gh-color);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.item__gh-image {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item__subtitle,
.item__link,
.item_techs {
  margin-top: 7px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.item__subtitle {
  color: var(--dark-gray);
}

.item__link {
  display: block;
  text-decoration: none;
  color: var(--seagreen);
}

.item__link:hover {
  text-decoration: underline;
}

.item__bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item__more,
.item__descr-back {
  font-weight: 500;
  font-size: 14px;
  height: 36px;
  color: #c5c5c5;
  background-color: transparent;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.item__more {
  margin-left: -8px;
}

.item__more:hover,
.item__descr-back:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.item__techs {
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.item__tech {
  width: max-content;
  background-color: var(--seagreen);
  margin: 3px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  padding: 6px 8px;
  color: #fff;
  border-radius: 5px;
}

.item__descr {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.item__descr-back {
  margin-top: 20px;
  width: max-content;
}

.item__descr_hidden {
  display: none;
}

.item_odd::before,
.item_even::before {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -15px;
}

.item_odd::before {
  right: -25px;
  border: 15px solid transparent;
  border-left: 15px solid #fff;
}

.item_even::before {
  left: -25px;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
}

.item_odd::after,
.item_even::after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -7.5px;
  width: 15px;
  height: 15px;
  background-color: var(--seagreen);
  border-radius: 50%;
}

.item_odd::after {
  right: -35px;
}

.item_even::after {
  left: -35px;
}

@media (max-width: 700px) {
  .item_odd::after {
    left: -35px;
  }

  .item_odd::before {
    right: unset;
    left: -25px;
    border: 15px solid transparent;
    border-right: 15px solid #fff;
  }
}
